.shotLog {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 375px;
  padding: 20px;
  border-radius: 12px;
  background-color: #f3f5f8;
}

.shotLog > table {
  width: 100%;
  border-collapse: collapse;
}

.shotLog > table > thead > tr > th {
  text-align: center;
}
.shotLog > table > tbody {
  background-color: white;
}

.shotLog > h3 {
  text-align: center;
  margin: 10px;
}
.shotLog > table > tbody > tr:hover {
  background-color: rgb(56, 56, 240);
  color: white;
}

.shotLog > table > tbody > tr {
  cursor: pointer;
}

.shotLog > table > thead > tr > th,
.shotLog > table > tbody > tr > td {
  font-size: 0.8rem;
  padding: 0.25rem;
}
