.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 20rem;
  justify-content: center;
}

.signUpTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
  background-color: #e37204;
  width: 100%;
  padding: 20% 0% 5% 0%;
  color: white;
  align-items: flex-end;
  border-radius: 12px;
}

.signUpTitle > h1 {
  margin: 0;
  padding-left: 5%;
  margin-top: 5%;
  cursor: pointer;
}

.signUp > form {
  width: 100%;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  padding: 10% 5% 15% 5%;
  background-color: #f3f5f8;
  border-radius: 12px;
  color: black;
  width: 100%;
  border: 1px solid lightgrey;
}

.signUpForm > h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  margin-bottom: 8%;
}

.signUpForm > label {
  font-size: 1rem;
  margin-bottom: 2%;
}

.signUpFormInput {
  border: 1px solid #e5e7eb;
  background-color: white;
  padding: 0% 2% 0% 2%;
  border-radius: 12px;
  cursor: text;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.signUpFormInput:focus-within {
  border: 1px solid #e37204;
}

.signUpFormInput > input {
  background-color: white;
  border: none;
  outline: none;
  color: black;
  height: 100%;
  width: 100%;
  padding: 2%;
}

.signUpForm > button {
  margin-top: 5%;
  padding: 1%;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  font-weight: 500;
  color: white;
}

.signUpForm > button > div {
  display: flex;
  justify-content: flex-start;
}

.signUpForm > button > div > p {
  font-weight: 600;
}

.signUpForm > li {
  font-size: 1.2rem;
  list-style-type: none;
  color: red;
}
