#root {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

/* this is important */
* {
  box-sizing: border-box;
}

.skeleton {
  position: relative;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

button:hover {
  cursor: pointer;
  outline: 1px solid black;
}

input {
  border: 1px solid #e5e7eb;
}

input:focus {
  border: 1px solid #e37204;
  outline: none !important;
}

button {
  display: flex;
  justify-content: center;
  font-family:
    Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
  font-weight: 800;
}
