.HpMain {
  display: grid;
  grid-template-rows: 20% 78.5%;
  min-height: 100vh;
  padding: 1.5rem;
  max-height: 100%;
  gap: 1rem;
}

.HpMain > div:last-of-type {
  display: grid;
  grid-template-columns: 40% 60%;
}

.hpTitle {
  background-color: #e37204;
  color: white;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
}

.hpTitle > h1 {
  margin-left: 1%;
}

.hpBlurb {
  background-color: #f3f5f8;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  border-radius: 12px;
  height: 100%;
}

.hpBlurb > h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0px 0% 2% 0%;
  line-height: 1.5;
}

.hpBlurb > p {
  margin: 0% 0% 5% 0%;
}

.hpBlurb > div {
  display: flex;
  gap: 10%;
}

.hpBlurb > div > button {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #e37204;
  border-radius: 12px;
  font-size: 1.3rem;
  border: none;
}
