.boxScore {
  display: flex;
  padding: 2%;
  background-color: #f3f5f8;
  border-radius: 12px;
  max-width: 100%;
  overflow-x: auto;
  max-height: 50%;
  min-height: 40%;

  margin-top: 2%;
  overflow-y: hidden;
  flex-shrink: 0;
}

.boxScore > table {
  border-collapse: collapse;
  text-indent: 0;
  text-align: left;
  width: 100%;
  border: 1px solid lightgrey;
  font-size: 1rem;
  white-space: nowrap;
}

/* tr {
	border-bottom: 1px solid;
} */

th {
  /* border: 1px solid; */
  padding: 0.5rem 0.75rem;
}

td {
  padding: 0.5rem 0.75rem;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

thead {
  background: #e37204;
  color: white;
  border-bottom: 2px solid black;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

/* thead th {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
} */
/* thead {
    border: 1px solid lightgrey;
    border-bottom:  1px solid black;
    
} */

th,
caption {
  text-align: start;
}

thead th:not(:first-child),
td {
  text-align: end;
}

td:first-of-type {
  text-align: start;
}

tfoot {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: whitesmoke;
}

th:not(:first-of-type):not(:last-of-type) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.boxScore > table > thead > tr > th,
.boxScore > table > tbody > tr > td,
.boxScore > table > tfoot > tr {
  font-size: 0.8rem;
}