.boxScore {
  display: flex;
  padding: 2%;
  background-color: #f3f5f8;
  border-radius: 12px;
  max-width: 100%;
  overflow-x: auto
}
.boxScore > table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.boxScore > table > thead {
    border-block-end: 2px solid black;
    background: #e37204;
    color: white;
}

.boxScore > table > tfoot {
  border-block: 2px solid black;
  background: #e37204;
}

.boxScore > table > thead > tr > th,
.boxScore > table > tbody > tr > td,
.boxScore > table > tfoot > tr > td {
  border: 1px solid lightgrey;
  padding: 0.25rem 0.75rem;
  white-space: nowrap;
  font-size: 1rem;
}

.boxScore > table > thead > tr > th {
  text-align: start;
}

.boxScore > table > tbody > tr > td:not(:first-child),
.boxScore > table > tfoot > tr > td {
  text-align: end;
}

tr {
    width: 100%;
}

td {
    color: black;
}
