.selectDraftGame {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 3%;
  align-items: center;
  background-color: #f3f5f8;
  justify-content: center;
  gap: 2%;
  border-radius: 12px;
  justify-self: center;
  align-self: center;
}

.selectDraftGame > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50%;
  align-items: center;
}

#gameSelect {
  border: 1px solid #e5e7eb;
  background-color: white;
  color: black;
  padding: 2%;
  border-radius: 12px;
  cursor: text;
  justify-self: center;
  width: 100%;
}

#gameSelect:focus {
  border: 1px solid #e37204;
  outline: none !important;
}

.selectDraftGame > form > button {
  margin: 20% 0% 5% 0%;
  padding: 1%;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  font-weight: 500;
  color: white;
  width: 50%;
}

.selectDraftGame > button {
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  font-weight: 500;
  color: white;
  width: 50%;
}
