@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";
:root {
  --bulma-primary-h: 30deg;
  --bulma-link-h: 51deg;
  --bulma-link-l: 43%;
}
.tabs li.is-active a {
    border-bottom-color: hsl(30, 100%, 46%);
    color: hsl(30, 100%, 46%);
}
.select select:focus {
    border-color: hsl(30, 100%, 46%);
}
#doubleselect {
    display: flex;
}
.input:focus {
    border-color: hsl(30, 100%, 46%);
}
#loginbutton {
    margin: auto;

}
.centered {
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addplayerfields {
}
.centeredelements {
    display: flex;
    justify-content: center;
}
.centeredelementsflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.statentrycontainerrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttoncontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width:20%;
}
.mapcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    border-style: solid;
}
.gamestatcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.tableheadingcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mapcontainerstats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
#basketballcourt {
     max-width: 100%;
     height: auto;
     position: relative;
}
.shotchartgame {
    max-width: 30%;
    display:flex;
    align-items: center;
}
.undoredocontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#teamStatsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#individualStatsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    color: #323338;
}
.seasonSetup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seasonSetupForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#header {
    text-align: center;
}
.homepageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}

#modalbutton {
    display: flex;
    justify-content: center;
}
