.selectActivePlayers {
  display: flex;
  flex-direction: column;
  margin: 20rem auto;
  max-width: 800px;
  padding: 0% 5% 0% 5%;
  align-items: center;
  background-color: #f3f5f8;
  justify-content: center;
  gap: 2%;
  border-radius: 12px;
  min-height: 50%;
  height: auto;
}

.selectActivePlayers > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4%;
  justify-content: center;
}

.selectActivePlayers > form > div {
  display: flex;
  gap: 5%;
  align-items: center;
}

.selectActivePlayers > form > div {
  display: flex;
  gap: 5%;
  align-items: center;
}

.selectActivePlayers > form > div:last-of-type {
  justify-content: center;
}

.selectActivePlayers > form > div > input {
  accent-color: #e37204;
}

.selectActivePlayers > form > div > button {
  margin: 1% 0% 5% 0%;
  padding: 1%;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  font-weight: 500;
  color: white;
  width: 40%;
}

.selectActivePlayers > form > table {
  border-collapse: collapse;
  background-color: white;
  border: 1px solid lightgrey;
}

.selectActivePlayers > form > table > thead {
  border-bottom: none;
}

.selectActivePlayers > form > table > thead > tr > th:last-of-type {
  border-left: 1px solid lightgrey;
}

.selectActivePlayers > form > table > tbody > tr > td:first-of-type {
  width: 80%;
}

.selectActivePlayers > form > table > tbody > tr > td:last-of-type {
  text-align: center;
}
