{% extends "layout.html" %}

{% block title %}
    Game Stat Entry Page
{% endblock %}

{% block main %}
<!-- Idea could be to create a active tab on the game? pretty yuck -->
    <form action="newgame" method="post">
            <h3>Number of Active Players</h3>
        <div class="centeredelements">
            <input autocomplete="off" id="addplayerfields" class="input addplayerfields" name ="playernumber" autofocus  placeholder="Amount of Players" type="number" value="0">
            <button class="button" type="button" id="resetInput">Reset</button>
        </div>
        <br>
        <div id="inputContainer" class="playerEntry centeredelementsflex"></div>

        <script>

            document.addEventListener('DOMContentLoaded', function(){
                const addplayerfields = document.getElementById('addplayerfields');
                const inputContainer = document.getElementById('inputContainer');
                const resetInput = document.getElementById('resetInput');

                addplayerfields.addEventListener('input', function(){
                    var x = parseInt(addplayerfields.value)
                    var y = inputContainer.children.length
                    var z = y
                    var a = 0
                    while (z > 0) {
                        inputContainer.removeChild(inputContainer.children[z-1]);
                        z--;
                    }
                    while (a < (x)) {
                        console.log(a)
                        const newPlayerText = document.createElement('input');
                        const newPlayerNumber = document.createElement('input');
                        const Break = document.createElement('br');
                        newPlayerText.type = 'text';
                        newPlayerText.classList.add('input');
                        newPlayerText.classList.add('addplayerfields');
                        newPlayerText.placeholder = 'Player Name';
                        newPlayerText.name = 'PlayerName' + a;
                        newPlayerNumber.type = 'number';
                        newPlayerNumber.classList.add('input');
                        newPlayerNumber.classList.add('addplayerfields');
                        newPlayerNumber.placeholder = 'Player Number';
                        newPlayerNumber.name = 'PlayerNumber' + a;
                        inputContainer.appendChild(newPlayerText);
                        inputContainer.appendChild(newPlayerNumber);
                        inputContainer.appendChild(Break);
                        a++;
                    }
                });
                resetInput.addEventListener('click', function(){
                    var y = inputContainer.children.length
                    var x = addplayerfields.defaultValue
                    addplayerfields.value = x;
                    while(y > 0) {
                        inputContainer.removeChild(inputContainer.children[y - 1]);
                        y -=1;
                    }
                });
            });
        </script>
        <button class="button is-primary"type="submit">Confirm Players</button>
    </form>

{% endblock %}
