{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
    <div class="homepageContainer">
        <div id="header">
            <h1 class="title is-3">Game Scoring and Season Stats</h1>
        </div>
        <br>
        <div class="selectorContainer">
            <div class="column">
                <h1 class="title is-4">Score New Game</h1>
                <form id="doubleselect" action="/" method="post">
                    <div class="select">
                        <select name="gameselect" id="gameselect">
                            <option selected disabled hidden>Select Game</option>
                        {% for games in range(1,seasongames) %}
                            <option value="{{ games }}">{{ games }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="select">
                        <select name="season_game">
                            <option selected disabled hidden>Select Season</option>
                        {% for seasons in userseasons %}
                            <option selected=" " value="{{ seasons.name }}">{{ seasons.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <button class="button is-primary" type="submit">New Game Score</button>
                </form>
            </div>
            <div class="column">
                <h1 class="title is-4">View Season and Game Stats</h1>
                <form action="viewstats" method="post">
                    <div class="select">
                        <select name="seasonselect" id="seasonselect" >
                            <option selected disabled hidden>Select Season</option>
                        {% for seasons in userseasons %}
                            <option selected=" " value="{{ seasons.name }}">{{ seasons.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <button class="button is-link" type="submit">Show Stats</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
