{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="box">
            <div class="block">
                <input autocomplete="off" autofocus class="input is-rounded" name="username" placeholder="Username" type="text">
            </div>
            <div class="block">
                <input autocomplete="off" autofocus class="input is-rounded" name="password" placeholder="Password" type="password">
            </div class="block">
            <div class="centered">
                <button id="loginbutton" class="button is-light" type="submit">Log In</button>
            </div>
        </div>
    </form>
{% endblock %}
