{% extends "layout.html" %}

{% block title %}
    {{ season_name }}
{% endblock %}

{% block main %}
    <div class="tabs is-centered">
    <ul>
        <li id="ts" class="is-active has-text-primary">
            <a id="teamStats" class="has-text-primary">
                <span class="icon is-small"
                    ><i class="fa-solid fa-people-group" aria-hidden="true"></i
                ></span>
                <span>{{ season_name }}  Team Stats</span>
            </a>
        </li>
        <li id="g">
            <a id="games">
                <span class="icon is-small"
                    ><i class="fa-solid fa-trophy" aria-hidden="true"></i></i
                ></span>
                <span>Games</span>
            </a>
        </li>
        <li id="is">
            <a id="individualStats">
                <span class="icon is-small"
                    ><i class="fa-solid fa-person-running" aria-hidden="true"></i></i
                ></span>
                <span>Individual stats</span>
            </a>
        </li>
    </ul>
    </div>

    <script src="static/js/helpers.js"></script>
    <script>
        let shotsRendered = false;
        document.addEventListener('DOMContentLoaded', function(){
            const season_games = {{ seasongamecount }};
            const shots = {{ gameshots | tojson}};
            setTimeout(() => {
                renderShotsSeason(shots);
            }, 100);

            ts.addEventListener('click', function(event){
                sectionselect(event, shots)
            });
            g.addEventListener('click', function(event){
                sectionselect(event, shots)
            });
            is.addEventListener('click', function(event){
                sectionselect(event)
            });
            console.log(shots)
        });
    </script>
    <div id="teamStatsSection">
        <table class="table is-striped">
            <thead>
                <tr>
                    <h1 class="title is-4">Team Totals - Season Stats</h1>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT%</th>
                    <th>PTS</th>
                    <th>R-OFF</th>
                    <th>R-DEF</th>
                    <th>R-TOT</th>
                    <th>AST</th>
                    <th>BLK</th>
                    <th>STL</th>
                    <th>TO</th>
                    <th>PF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ seasonTeamStats.FGM | round}}</td>
                    <td>{{ seasonTeamStats.FGA | round}}</td>
                    <td>{{ seasonTeamStats.FGP | round}}%</td>
                    <td>{{ seasonTeamStats.TPM | round}}</td>
                    <td>{{ seasonTeamStats.TPA | round}}</td>
                    <td>{{ seasonTeamStats.TPP | round}}%</td>
                    <td>{{ seasonTeamStats.FTM | round}}</td>
                    <td>{{ seasonTeamStats.FTA | round}}</td>
                    <td>{{ seasonTeamStats.FTP | round}}%</td>
                    <td>{{ seasonTeamStats.PTS | round }}</td>
                    <td>{{ seasonTeamStats.ROFF }}</td>
                    <td>{{ seasonTeamStats.RDEF }}</td>
                    <td>{{ seasonTeamStats.RTOT }}</td>
                    <td>{{ seasonTeamStats.AST | round }}</td>
                    <td>{{ seasonTeamStats.BLK }}</td>
                    <td>{{ seasonTeamStats.STL }}</td>
                    <td>{{ seasonTeamStats.TO }}</td>
                    <td>{{ seasonTeamStats.PF }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table class="table is-striped">
            <thead>
                <tr>
                    <h1 class="title is-4">Team Per Game Averages - Season Stats</h1>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT%</th>
                    <th>PTS</th>
                    <th>R-OFF</th>
                    <th>R-DEF</th>
                    <th>R-TOT</th>
                    <th>AST</th>
                    <th>BLK</th>
                    <th>STL</th>
                    <th>TO</th>
                    <th>PF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ seasonTeamStatsPG.FGM | round }}</td>
                    <td>{{ seasonTeamStatsPG.FGA | round }}</td>
                    <td>{{ seasonTeamStatsPG.FGP | round}}%</td>
                    <td>{{ seasonTeamStatsPG.TPM | round }}</td>
                    <td>{{ seasonTeamStatsPG.TPA | round }}</td>
                    <td>{{ seasonTeamStatsPG.TPP | round}}%</td>
                    <td>{{ seasonTeamStatsPG.FTM | round }}</td>
                    <td>{{ seasonTeamStatsPG.FTA | round }}</td>
                    <td>{{ seasonTeamStatsPG.FTP | round}}%</td>
                    <td>{{ seasonTeamStatsPG.PTS | round }}</td>
                    <td>{{ seasonTeamStatsPG.ROFF }}</td>
                    <td>{{ seasonTeamStatsPG.RDEF }}</td>
                    <td>{{ seasonTeamStatsPG.RTOT }}</td>
                    <td>{{ seasonTeamStatsPG.AST | round }}</td>
                    <td>{{ seasonTeamStatsPG.BLK }}</td>
                    <td>{{ seasonTeamStatsPG.STL }}</td>
                    <td>{{ seasonTeamStatsPG.TO }}</td>
                    <td>{{ seasonTeamStatsPG.PF }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3>Overall Season Shots</h3>
        <div class="shotchartgame">
            <figure class="image is-square" id="basketballcourtseason">
                <img id="courtimageseason" src="static/FIBAcourt.jpg" alt="courtdoc" style="position:relative">
            </figure>
        </div>
    </div>
    <div id="gameStatsSection" class="is-hidden">
        {% for gamenumber, games in gamestats.items() %}
        <div class="gamestatcontainer">
            <div class="tableheadingcontainer">
                <h3 class="title is-4">Game {{ gamenumber }}</h3>
                <div class="table-container">
                    <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>#</th>
                                    <th>FGM</th>
                                    <th>FGA</th>
                                    <th>FG%</th>
                                    <th>3PM</th>
                                    <th>3PA</th>
                                    <th>3P%</th>
                                    <th>FTM</th>
                                    <th>FTA</th>
                                    <th>FT%</th>
                                    <th>PTS</th>
                                    <th>R-OFF</th>
                                    <th>R-DEF</th>
                                    <th>R-TOT</th>
                                    <th>AST</th>
                                    <th>BLK</th>
                                    <th>STL</th>
                                    <th>TO</th>
                                    <th>PF</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for game in games %}
                                <tr>
                                    <th>{{ game.playername }}</th>
                                    <th>{{ game.playernumber }}</th>
                                    <th>{{ game.FGM }}</th>
                                    <th>{{ game.FGA }}</th>
                                    <th>{{ game.FGP |round }}%</th>
                                    <th>{{ game.TPM }}</th>
                                    <th>{{ game.TPA }}</th>
                                    <th>{{ game.TPP |round }}%</th>
                                    <th>{{ game.FTM }}</th>
                                    <th>{{ game.FTA }}</th>
                                    <th>{{ game.FTP |round }}%</th>
                                    <th>{{ game.PTS }}</th>
                                    <th>{{ game.ROFF }}</th>
                                    <th>{{ game.RDEF }}</th>
                                    <th>{{ game.RTOT }}</th>
                                    <th>{{ game.AST }}</th>
                                    <th>{{ game.BLK }}</th>
                                    <th>{{ game.STL }}</th>
                                    <th>{{ game.TO }}</th>
                                    <th>{{ game.PF }}</th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="shotchartgame">
                    <figure class="image is-square" id="basketballcourt{{ gamenumber }}">
                        <img id="courtimage{{ gamenumber }}" src="static/FIBAcourt.jpg" alt="courtdoc" style="position:relative">
                    </figure>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div id="individualStatsSection" class="is-hidden">
        <h3 class="title is-4">Individual Totals - Season Stats</h3>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT%</th>
                    <th>PTS</th>
                    <th>R-OFF</th>
                    <th>R-DEF</th>
                    <th>R-TOT</th>
                    <th>AST</th>
                    <th>BLK</th>
                    <th>STL</th>
                    <th>TO</th>
                    <th>PF</th>
                </tr>
            </thead>
            <tbody>
                {% for player in playerstats.values() %}
                <tr>
                    <th>{{ player.playername }}</th>
                    <th>{{ player.FGM }}</th>
                    <th>{{ player.FGA }}</th>
                    <th>{{ player.FGP | round }}%</th>
                    <th>{{ player.TPM }}</th>
                    <th>{{ player.TPA }}</th>
                    <th>{{ player.TPP | round }}%</th>
                    <th>{{ player.FTM }}</th>
                    <th>{{ player.FTA }}</th>
                    <th>{{ player.FTP | round}}%</th>
                    <th>{{ player.PTS }}</th>
                    <th>{{ player.ROFF }}</th>
                    <th>{{ player.RDEF }}</th>
                    <th>{{ player.RTOT }}</th>
                    <th>{{ player.AST }}</th>
                    <th>{{ player.BLK }}</th>
                    <th>{{ player.STL }}</th>
                    <th>{{ player.TO }}</th>
                    <th>{{ player.PF }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3 class="title is-4">Individual Per Game Averages - Season Stats</h3>
        <table class="table is-striped">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>FGM</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3PM</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <th>FTM</th>
                    <th>FTA</th>
                    <th>FT%</th>
                    <th>PTS</th>
                    <th>R-OFF</th>
                    <th>R-DEF</th>
                    <th>R-TOT</th>
                    <th>AST</th>
                    <th>BLK</th>
                    <th>STL</th>
                    <th>TO</th>
                    <th>PF</th>
                </tr>
            </thead>
            <tbody>
                {% for player in playerSeasonAverages.values() %}
                <tr>
                    <th>{{ player.playername }}</th>
                    <th>{{ player.FGM }}</th>
                    <th>{{ player.FGA }}</th>
                    <th>{{ player.FGP | round }}%</th>
                    <th>{{ player.TPM }}</th>
                    <th>{{ player.TPA }}</th>
                    <th>{{ player.TPP | round }}%</th>
                    <th>{{ player.FTM }}</th>
                    <th>{{ player.FTA }}</th>
                    <th>{{ player.FTP | round}}%</th>
                    <th>{{ player.PTS }}</th>
                    <th>{{ player.ROFF }}</th>
                    <th>{{ player.RDEF }}</th>
                    <th>{{ player.RTOT }}</th>
                    <th>{{ player.AST }}</th>
                    <th>{{ player.BLK }}</th>
                    <th>{{ player.STL }}</th>
                    <th>{{ player.TO }}</th>
                    <th>{{ player.PF }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
