{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="seasonSetup">
    <h2 class="title is-3">Season Creation</h2>
    <form action="/seasonsetup"method="post">
        <div class="seasonSetupForm">
            <div>
                <input autocomplete="off" autofocus name="seasonname" placeholder="Season Name" type="text" class="input">
            </div>
            <div>
                <input name="gamenumber" placeholder="Number of games" type="number" class="input">
            </div>

            <div>
                <button type="submit" class="button">Submit</button>
            </div>
        </div>
        </form>
</div>
{% endblock %}
