.interfaceInput {
  display: flex;
  width: 100%;
}

.interfaceInput > div {
  width: 20%;
  transition: transform 200ms ease-in-out;
  transform-origin: left top;
}

.spotlightLeft {
  transform: scale(1.5, 1.5);
}

.spotlightMiddle {
  transform: scale(1.5, 1.5) translateX(-20%);
}

.notSpotlightedLeft {
  transform: scale(0.8, 0.8);
}

.notSpotlightedMiddle {
  transform: scale(0.5, 0.5) translateX(90%);
}

.courtSpotlightMiddle {
    transform: scale(0.5, 0.5) translateX(90%);
}
