.navSeasonSelector {
  margin-right: 2%;
}

.navSeasonSelector > select {
  background-color: #e37204;
  color: white;
  border: none;
  padding: 12%;
  border-radius: 12px;
}

.navSeasonSelector > select > option {
  background-color: #e37204;
  color: white;
}
