.seasonStatsContainer {
  display: grid;
  grid-template-rows: 60% 38%;
  flex-direction: column;
  align-items: center;
  max-height: 1700px;
  max-width: 1600px;
  min-width: 1230px;
  height: 100%;
  align-self: center;
  gap: 1.5rem;
}

.seasonStatsContainer > div:first-child {
  display: grid;
  grid-template-columns: 39% 59%;
  height: 100%;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

/* .seasonStatsContainer > div > div:last-child {
    width: 50%;
} */

.seasonStatsBoxScore {
  display: flex;
  padding: 2%;
  background-color: #f3f5f8;
  border-radius: 12px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-shrink: 0;
}

.seasonStatsBoxScore > table {
  border-collapse: collapse;
  text-indent: 0;
  text-align: left;
  width: 100%;
  border: 1px solid lightgrey;
  font-size: 0.9rem;
  white-space: nowrap;
}

.seasonStatsBoxScore > table > tbody > tr:hover {
  outline: 1px solid black;
}

.seasonStatLeadersTable {
  display: flex;
  padding: 2%;
  background-color: #f3f5f8;
  border-radius: 12px;
  max-width: 100%;
  height: 100%;
  overflow-y: hidden;
  flex-shrink: 0;
}

.seasonStatLeadersTable > table {
  border-collapse: collapse;
  text-indent: 0;
  text-align: left;
  width: 100%;
  border: 1px solid lightgrey;
  font-size: 0.9rem;
  white-space: nowrap;
}

.seasonStatLeadersTable > table > tbody > tr > td {
  border: 1px solid lightgrey;
}
