.gameDisplay {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100%;
}

.statsSection {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  
}

.statsSection > div:first-of-type {
  display: grid;
  grid-template-columns: 60% 35%;
  margin: 0% 1% 2% 1%;
  gap: 5%;
  min-height: 40%;
}
