.gameDisplay {
  display: grid;
  grid-template-rows: 95% 5%;
  height: 100%;
}

.statsSection {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

.replayChart {
  display: grid;
  grid-template-columns: 60% 35%;
  margin-bottom: 2%;
  gap: 5%;
  min-height: 40%;
}

.noReplayChart {
  display: flex;
  margin-bottom: 2%;
  max-width: 35%;
  align-self: center;
}
