.gameDisplay {
  display: grid;
  grid-template-rows: 95% 5%;
  height: 100%;
  max-width: 1600px;
  align-self: center;
  width: 100%;
}

.statsSection {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  height: 100%;
}

.replayChart {
  display: grid;
  grid-template-columns: 60% 39%;
  margin-bottom: 2%;
  gap: 1rem;
  min-height: 40%;
  justify-content: space-between;
}

.noReplayChart {
  display: flex;
  margin-bottom: 2%;
  max-width: 35%;
  align-self: center;
}
