.playerSelection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background-color: #f3f5f8;
  border-radius: 12px;
  gap: 1rem;
  width: 80%;
  transform-origin: left top;
}

.playerSelection > h3 {
  margin: 0;
}

.playerSelection > button {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  width: 100%;
}
