.shotChart {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #f3f5f8;
  border-radius: 12px;
  transform-origin: top right;
  width: 100%;
  height: 100%;
  position: relative;
}

.shotChart > div > img {
  width: 100%;
  height: 100%;
  justify-self: center;
}

.shotChart > div > svg {
  width: 12px;
  height: 12px;
  transform-origin: center;
  transition: transform 200ms ease-in-out;
  transform: translate(15px, 15px);
  position: absolute;
}

.shotChart > div > .selectedIcon {
  transform-origin: center;
  transform:  translate(15px, 15px) scale(1.8, 1.8) !important;
  color: blue !important
}
