.playerListEdit {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
  min-width: 40%;
  background-color: #f3f5f8;
}

.playerListEdit > h3 {
  margin: 0;
}

.playerListEdit > ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.playerListEdit > ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
}

.playerListEdit > ul > li > button {
  margin-top: 3px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  color: white;
}

.addPlayer > button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 12px;
  border: none;
  background-color: #e37204;
  color: white;
  margin-top: 1rem;
}
